body {
  Font-Family: Avenir Next, Optima, Courier; 
  height: 100%;
	margin: 0;
	width: 100%;
}

h1 {
	font-size: 48px;
}

h3 {
	font-size: 32px; 
}
h4 {
	font-size: 24px;
}
p {
	font-size: 16px;
}


li::before {
	"\2022"
}
li {
	text-align: left;
}
