body {
  height: 100%;
	margin: 20;
	width: 100%;
	text-align: center;
	  font-family: Avenir Next, Optima, Courier, Bookman;
}

h1 {
	font-size: 40px;
}

h3 {
	font-size: 30px; 
	border-top-style: solid;
	border-bottom-style: solid;
}
h4 {
	font-size: 20px;
	text-align: left;
}
p {
	font-size: 16px;
}


li::before {
	"\2022"
}
li {
	text-align: left;
}
